<div class="span5 well-large">
    <h1>Daftar Pembayaran Detail</h1>

    <a class="btn" ng-click="baru()">
        <i class="icon-plus-sign"></i>Tambah pembayaran Detail
    </a>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Keterangan</th>
                <th>Nilai</th>
                <th>id Pembayaran</th>
                <th>Id Tagihan Detail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in configs">
                <td>{{x.id}}</td>
                <td>{{x.keterangan}}</td>
                <td>{{x.nilai}}</td>
                <td>{{x.id_pembayaran}}</td>
                <td>{{x.id_tagihan_detail}}</td>
                <td>
                    <a ng-click="edit(c)"><i class="icon-edit"></i></a>
                    <a ng-click="remove(c)"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="span5 well-large">
    <h1>Form Pembayaran</h1>
    <form class="form-horizontal" name="formEdit">
        <div class="control-group" ng-class="{error: formEdit.id.$invalid}">
            <label class="control-label" for="id">Id : &nbsp;</label>
            <input type="text" id="id" name="id" placeholder="Id Siswa" ng-model="currentSiswa.id" required ui-validate="{siswaIdAvailable: isSiswaIdAvailable}">
            <span ng-show="formEdit.id.$error.required" class="help-inline">Harus diisi</span>
        </div>
        <div class="control-group" ng-class="{error: formEdit.value.$invalid}">
            <label class="control-label" for="value">Keterangan : &nbsp;</label>
            <input type="text" 
                   id="value" 
                   name="keterangan" 
                   placeholder="Keterangan" 
                   ng-model="currentKeterangan.keterangan"
                   required
                   ui-validate="{permissionValueAvailable: isPermissionValueAvailable}">
            <span ng-show="formEdit.value.$error.required" class="help-inline">Harus diisi</span>
            <span ng-show="formEdit.value.$error.permissionValueAvailable" class="help-inline"></span>
        </div>
         <div class="control-group" ng-class="{error: formEdit.value.$invalid}">
            <label class="control-label" for="value">Nilai : &nbsp;</label>
            <input type="text" 
                   id="value" 
                   name="nilai" 
                   placeholder="Nilai" 
                   ng-model="currentNilai.Nilai"
                   required
                   ui-validate="{permissionValueAvailable: isPermissionValueAvailable}">
            <span ng-show="formEdit.value.$error.required" class="help-inline">Harus diisi</span>
            <span ng-show="formEdit.value.$error.permissionValueAvailable" class="help-inline"></span>
        </div>
        <div class="control-group">
                <label class="control-label" for="id_pembayaran">Id Pembayaran : &nbsp;</label>
                <select ui-select2 ng-model="currentId_pembayaran.id_pembayaran.id_pembayaran" data-placeholder="-- Select One --">
                    <option></option>
                    <option ng-repeat="id_pembayaran in id_pembayaranSelection" value="{{id_pembayaran.id_pembayaran}}">{{id_pembayaran.label}}</option>
                </select>
            </div>
       <div class="control-group">
                <label class="control-label" for="id_tagihan_detail">Id Tagihan Detail : &nbsp;</label>
                <select ui-select2 ng-model="currentId_tagihan_detail.id_tagihan_detail.id_tagihan_detail" data-placeholder="-- Select One --">
                    <option></option>
                    <option ng-repeat="id_tagihan_detail in id_tagihan_detailSelection" value="{{id_tagihan_detail.id_tagihan_detail}}">{{id_tagihan_detail.label}}</option>
                </select>
            </div>
       
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid">Simpan</button>
                <button type="edit" class="btn btn-primary" ng-click="edit()" ng-disabled="isClean() || formEdit.$invalid">Ubah</button>
                <button type="search" class="btn btn-primary" ng-click="search()" ng-disabled="isClean() || formEdit.$invalid">Cari</button>
            <button type="submit" class="btn btn-primary" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid">Simpan</button>
            <button type="button" class="btn" ng-click="baru()">Batal</button>
        </div>
    </form>
</div>