<div class="span5 well-large">
    <img border="0" src="/img/paymentSchoolPembayaranDetail.png" alt="Pulpit rock" width="200" height="200"/>
    <h1>Daftar Pembayaran Detail</h1>

    <a class="btn" ng-click="baru()">
        <i class="icon-plus-sign"></i>Tambah pembayaran Detail
    </a>
    
    <table class="table table-striped table condensed table-bordered">
        <thead>
            <tr>
                <th>Keterangan</th>
                <th>Nilai</th>
                <th>id Pembayaran</th>
                <th>Id Tagihan Detail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in pembayarandetail.content">
                <td>{{x.keterangan}}</td>
                <td>{{x.nilai}}</td>
                <td>{{x.idpembayaran}}</td>
                <td>{{x.id_tagihan_detail}}</td>
                <td>
                    <a ng-click="edit(x)"><i class="icon-edit"></i></a>
                    <a ng-click="remove(x)"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="span5 well-large">
    <h1>Form Pembayaran</h1>
    <form class="form-horizontal" name="formEdit">
        <div class="control-group" ng-class="{error: formEdit.keterangan.$invalid}">
            <label class="control-label" for="keterangan">Keterangan : &nbsp;</label>
            <input type="text" 
                   id="keterangan" 
                   name="keterangan" 
                   placeholder="Keterangan" 
                   ng-model="currentPembayaranDetail.keterangan"
                   required>
            <span ng-show="formEdit.keterangan.$error.required" class="help-inline">Harus diisi</span>
        </div>
         <div class="control-group" ng-class="{error: formEdit.nilai.$invalid}">
            <label class="control-label" for="nilai">Nilai : &nbsp;</label>
            <input type="text" 
                   id="nilai" 
                   name="nilai" 
                   placeholder="Nilai" 
                   ng-model="currentPembayaranDetail.nilai"
                   required>
            <span ng-show="formEdit.nilai.$error.required" class="help-inline">Harus diisi</span>
        </div>
        <div class="control-group">
                <label class="control-label" for="idpembayaran">Id Pembayaran : &nbsp;</label>
                <select ui-select2 ng-model="currentPembayaranDetail.idpembayaran" data-placeholder="-- Select One --">
                    <option></option>
                    <option ng-repeat="id_pembayaran in id_pembayaranSelection" value="{{id_pembayaran.id_pembayaran}}">{{id_pembayaran.label}}</option>
                </select>
            </div>
       <div class="control-group">
                <label class="control-label" for="id_tagihan_detail">Id Tagihan Detail : &nbsp;</label>
                <select ui-select2 ng-model="currentPembayaranDetail.id_tagihan_detail.id_tagihan_detail" data-placeholder="-- Select One --">
                    <option></option>
                    <option ng-repeat="id_tagihan_detail in id_tagihan_detailSelection" value="{{id_tagihan_detail.id_tagihan_detail}}">{{id_tagihan_detail.label}}</option>
                </select>
            </div>
       
        <div class="form-actions">
            
            <button type="submit" class="btn btn-primary" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid">Simpan</button>
            <button type="button" class="btn" ng-click="baru()">Batal</button>
        </div>
    </form>
</div>