<div class="span5 well-large">
    <h1>Daftar Pembayaran</h1>

    <a class="btn" ng-click="baru()">
        <i class="icon-plus-sign"></i>Tambah pembayaran
    </a>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Keterangan</th>
                <th>Penerima</th>
                <th>Waktu Pembayaran</th>
                <th>Id Siswa</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in configs">
                <td>{{x.id}}</td>
                <td>{{x.keterangan}}</td>
                <td>{{x.penerima}}</td>
                <td>{{x.waktu_pembayaran}}</td>
                <td>{{x.id_siswa}}</td>
                <td>
                    <a ng-click="edit(c)"><i class="icon-edit"></i></a>
                    <a ng-click="remove(c)"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="span5 well-large">
    <h1>Form Pembayaran</h1>
    <form class="form-horizontal" name="formEdit">
        <div class="control-group" ng-class="{error: formEdit.id.$invalid}">
            <label class="control-label" for="id">Id : &nbsp;</label>
            <input type="text" id="id" name="id" placeholder="Id Pembayaran" ng-model="currentPembayaran.id" required>
            <span ng-show="formEdit.id.$error.required" class="help-inline">Harus diisi</span>
        </div>
        <div class="control-group" ng-class="{error: formEdit.value.$invalid}">
            <label class="control-label" for="value">Keterangan : &nbsp;</label>
            <label class="control-label">Lunas : &nbsp;</label>
             <input type="checkbox" id="value" name="value" placeholder="Keterangan" ng-model="currentUser.value">
        </div>
         <div class="control-group" ng-class="{error: formEdit.penerima.$invalid}">
            <label class="control-label" for="penerima">Penerima : &nbsp;</label>
            <input type="text" 
                   id="penerima" 
                   name="penerima" 
                   placeholder="Penerima" 
                   ng-model="currentPenerima.Penerima"
                   required>
            <span ng-show="formEdit.penerima.$error.required" class="help-inline">Harus diisi</span>
        </div>
        <div class="control-group">
                <label class="control-label" for="waktu_pembayaran">Waktu Pembayaran : &nbsp;</label>
               <input id="waktu_pembayaran" type="date" value="auto"/>
            </div>
       <div class="control-group">
                <label class="control-label" for="id_siswa">Id Siswa : &nbsp;</label>
                <select ui-select2 ng-model="currentId_siswa.id_siswa.id_siswa" data-placeholder="-- Select One --">
                    <option></option>
                    <option ng-repeat="id_siswa in id_siswaSelection" value="{{id_siswa.id_siswa}}">{{id_siswa.label}}</option>
                </select>
            </div>
       
        <div class="form-actions">
            <button type="delete" class="btn btn-primary" ng-click="hapus()" ng-disabled="isClean() || formEdit.$invalid">Hapus</button>
            <button type="edit" class="btn btn-primary" ng-click="edit()" ng-disabled="isClean() || formEdit.$invalid">Ubah</button>
            <button type="search" class="btn btn-primary" ng-click="search()" ng-disabled="isClean() || formEdit.$invalid">Cari</button>
            <button type="submit" class="btn btn-primary" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid">Simpan</button>
            <button type="button" class="btn" ng-click="baru()">Batal</button>
        </div>
    </form>
</div>