  <div class="span5 well-large">
      <img border="0" src="/img/paymentSchoolJenisBiaya.png" alt="Pulpit rock" width="200" height="200"/>
    <h1>Daftar Tagihan</h1>

    <a class="btn" ng-click="baru()">
        <i class="icon-plus-sign"></i>Tambah Data
    </a>
    <hr>
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                 <tr>
                    <th>Jatuh Tempo</th>
                    <th>Periode Tagihan</th>
                    <th></th>
                </tr>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in tagihans.content">
                    <td>{{x.jatuhTempo}}</td>
                    <td>{{x.periodeTagihan}}</td>
                    <td>
                    <a ng-click="edit(x)"><i class="icon-edit"></i></a>
                    <a ng-click="remove(x)"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>  
<div class="span5 well-large">
    <h1>Form Tagihan</h1>
    <form class="form-horizontal" name="formEdit">
         <form class="form-horizontal" name="formEdit">
           <div class="control-group" ng-class="{error: formEdit.jatuhTempo.$invalid}">
                <label class="control-label" for="jatuhTempo">Jatuh Tempo : &nbsp;</label>
               <input id="jatuhTempo" type="date" value="auto"/>
            </div>
            <div class="control-group" ng-class="{error: formEdit.periodeTagihan.$invalid}">
                <label class="control-label" for="periodeTagihan">Periode Tagihan : &nbsp;</label>
               <input id="periodeTagihan" type="date" value="auto"/>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid">Simpan</button>
               
                <button type="button" class="btn" ng-click="baru()">Batal</button>
            </div>
        </form>
    </div>


