<div class="span5 well-large">
    <h1>Daftar Konfigurasi Tagihan Detail</h1>

    <a class="btn" ng-click="baru()">
        <i class="icon-plus-sign"></i>Tambah Data
    </a>
    <hr>
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nilai</th>
                <th>Id Jenis Biaya</th>
                <th>Id Konfigurasi Tagihan</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in konfigurasitagihan_detail.content">
                <td>{{x.id}}</td>
                <td>{{x.nilai}}</td>
                <td>{{x.id_jenis_biaya}}</td>
                <td>{{x.id_konfigurasi_tagihan}}</td>
                <td>
                    <a ng-click="edit(x)"><i class="icon-edit"></i></a>
                    <a ng-click="remove(x)"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>    
<div class="span5 well-large">
    <h1>Form Konfigurasi Tagihan Detail</h1>
    <form class="form-horizontal" name="formEdit">
        <div class="control-group" ng-class="{error: formEdit.id.$invalid}">
            <label class="control-label" for="id">Id : &nbsp;</label>
            <input type="text" id="id" 
                   name="id" 
                   placeholder="Id Konfigurasi Tagihan Detail" 
                   ng-model="currentKonfigurasiTagihanDetail.id"
                   required>
            <span ng-show="formEdit.id.$error.required" class="help-inline">Required</span>
        </div>
        <div class="control-group" ng-class="{error: formEdit.nilai.$invalid}">
            <label class="control-label" for="nilai">Nilai : &nbsp;</label>
            <input type="text" 
                   id="nilai" 
                   name="nilai" 
                   placeholder="Konfigurasi Tagihan Detail Nilai" 
                   ng-model="currentKonfigurasiTagihanDetail.nilai"
                   required>
            <span ng-show="formEdit.nilai.$error.required" class="help-inline">Required</span>
        </div>
          <div class="control-group">
                <label class="control-label" for="id_jenis_biaya">Id Jenis Biaya : &nbsp;</label>
                <select ui-select2 ng-model="currentKonfigurasiTagihanDetail.id_jenis_biaya" data-placeholder="-- Select One --">
                    <option></option>
                    <option ng-repeat="id in ids" value="{{id.id}}">{{id.id}}</option>
              </select>
            </div>
          <div class="control-group">
                <label class="control-label" for="id_konfigurasi_tagihan">Id Konfigurasi Tagihan : &nbsp;</label>
                <select ui-select2 ng-model="currentKonfigurasiTagihanDetail.id_konfigurasi_tagihan" data-placeholder="-- Select One --">
                    <option></option>
                    <option ng-repeat="id in ids" value="{{id.id}}">{{id.id}}</option>
              </select>
            </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid">Simpan</button>
            <button type="edit" class="btn btn-primary" ng-click="edit()" ng-disabled="isClean() || formEdit.$invalid">Ubah</button>
            <button type="search" class="btn btn-primary" ng-click="search()" ng-disabled="isClean() || formEdit.$invalid">Cari</button>
            <button type="delete" class="btn btn-primary" ng-click="delete()" ng-disabled="isClean() || formEdit.$invalid">Hapus</button>
            <button type="button" class="btn" ng-click="baru()">Batal</button>
        </div>
    </form>
</div>   
