<div class="span5 well-large">
    <h1>Payment Transactions List</h1>

    <a class="btn" ng-click="baru()">
        <i class="icon-plus-sign"></i>Create New Payment Transactions
    </a>
    <hr>
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Types Of Payment</th>
                <th>Payment Period</th>
                <th>Select Students</th>
                <th>Value Of Payments</th>
                <th>Information</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in paymenttransactions">
                <td>{{x.typesofpayment}}</td>
                <td>{{x.paymentperiod}}</td>
                <td>{{x.selectstudents}}</td>
                <td>{{x.valueofpayments}}</td>
                <td>{{x.information}}</td>
                <td>
                    <a ng-click="edit(x)"><i class="icon-edit"></i></a>
                    <a ng-click="remove(x)"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="span5 well-large">
    <h1>Form Payment Transactions</h1>
    <form class="form-horizontal" name="formEdit">
        <div class="control-group" ng-class="{error: formEdit.label.$invalid}">
            <label class="control-label" for="label">Types Of Payment : &nbsp;</label>
            <input type="text" id="label" 
                   name="typesofpayment" 
                   placeholder="paymenttransaction.Typesofpayment" 
                   ng-model="currentpaymenttransaction.typesofpayment"
                   required>
            <span ng-show="formEdit.label.$error.required" class="help-inline">Harus diisi</span>
        </div>
        <div class="control-group" ng-class="{error: formEdit.value.$invalid}">
            <label class="control-label" for="value">Payment Period : &nbsp;</label>
            <input type="text" 
                   id="value" 
                   name="paymentperiod" 
                   placeholder="paymentperiod.Paymentperiod" 
                   ng-model="currentPaymentperiod.paymentperiod"
                   required
                   ui-validate="{permissionValueAvailable: isPermissionValueAvailable}">
            <span ng-show="formEdit.value.$error.required" class="help-inline">Harus diisi</span>
            <span ng-show="formEdit.value.$error.permissionValueAvailable" class="help-inline">sudah ada yang pakai</span>
        </div>
        <div class="control-group" ng-class="{error: formEdit.value.$invalid}">
            <label class="control-label" for="value">Select Students : &nbsp;</label>
            <input type="text" 
                   id="value" 
                   name="selectstudents" 
                   placeholder="selectstudents.Selectstudents" 
                   ng-model="currentSelectstudents.selectstudents"
                   required
                   ui-validate="{permissionValueAvailable: isPermissionValueAvailable}">
            <span ng-show="formEdit.value.$error.required" class="help-inline">Harus diisi</span>
            <span ng-show="formEdit.value.$error.permissionValueAvailable" class="help-inline">sudah ada yang pakai</span>
        </div>
        <div class="control-group" ng-class="{error: formEdit.value.$invalid}">
            <label class="control-label" for="value">Value Of Payments : &nbsp;</label>
            <input type="text" 
                   id="value" 
                   name="valueofpayments" 
                   placeholder="valueofpayments.Valueofpayments" 
                   ng-model="currentValueofpayments.valueofpayments"
                   required
                   ui-validate="{permissionValueAvailable: isPermissionValueAvailable}">
            <span ng-show="formEdit.value.$error.required" class="help-inline">Harus diisi</span>
            <span ng-show="formEdit.value.$error.permissionValueAvailable" class="help-inline">sudah ada yang pakai</span>
        </div>
        <div class="control-group" ng-class="{error: formEdit.value.$invalid}">
            <label class="control-label" for="value">Information : &nbsp;</label>
            <input type="text" 
                   id="value" 
                   name="information" 
                   placeholder="information.Information" 
                   ng-model="currentInformation.information"
                   required
                   ui-validate="{permissionValueAvailable: isPermissionValueAvailable}">
            <span ng-show="formEdit.value.$error.required" class="help-inline">Harus diisi</span>
            <span ng-show="formEdit.value.$error.permissionValueAvailable" class="help-inline">sudah ada yang pakai</span>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid">Simpan</button>
            <button type="button" class="btn" ng-click="baru()">Batal</button>
        </div>
    </form>
</div>