<div class="span5 well-large">
    <h1>Daftar Transaksi Pembayaran</h1>

    <a class="btn" ng-click="baru()">
        <i class="icon-plus-sign"></i>Tambah Data
    </a>
    <hr>
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Jenis Pembayaran</th>
                <th>Periode Pembayaran</th>
                <th>Nama Siswa</th>
                <th>Nilai Pembayaran</th>
                <th>Informatsi</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in paymenttransactions.content">
                <td>{{x.jenispembayaran}}</td>
                <td>{{x.periodepembayaran}}</td>
                <td>{{x.namasiswa}}</td>
                <td>{{x.nilaipembayaran}}</td>
                <td>{{x.informasi}}</td>
                <td>
                    <a ng-click="edit(x)"><i class="icon-edit"></i></a>
                    <a ng-click="remove(x)"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="span5 well-large">
    <h1>Form Transaksi Pembayaran</h1>
    <form class="form-horizontal" name="formEdit">
         <div class="control-group" ng-class="{error: formEdit.typesofpayment.$invalid}">
                <label class="control-label" for="typesofpayment">Jenis Pembayaran : &nbsp;</label>
                <select ui-select2 ng-model="currentPaymenttransaction.typesofpayment" data-placeholder="-- Select One --">
                    <option></option>
                    <option ng-repeat="paymenttransaction in typesofpaymentSelection" value="{{paymenttransaction.id}}">{{paymenttransaction.label}}</option>
                </select>
            </div>
       <div class="control-group" ng-class="{error: formEdit.paymentperiod.$invalid}">
                <label class="control-label" for="paymentperiod">Periode Pembayaran : &nbsp;</label>
               <input id="paymentperiod" type="date" value="auto"/>
            </div>
        <div class="control-group" ng-class="{error: formEdit.nama.$invalid}">
            <label class="control-label" for="nama">Nama Siswa : &nbsp;</label>
            <input type="text" 
                   id="value" 
                   name="nama" 
                   placeholder="Nama Siswa" 
                   ng-model="currentPaymenttransaction.nama"
                   required>
            <span ng-show="formEdit.nama.$error.required" class="help-inline">Harus diisi</span>
        </div>
        <div class="control-group" ng-class="{error: formEdit.nilai.$invalid}">
            <label class="control-label" for="nilai">Nilai Pembayaran : &nbsp;</label>
            <input type="text" 
                   id="nilai" 
                   name="nilai" 
                   placeholder="Nilai" 
                   ng-model="currentPaymenttransaction.nilai"
                   required>
            <span ng-show="formEdit.nilai.$error.required" class="help-inline">Harus diisi</span>
        </div>
        
         <div class="control-group">
              <label class="control-label" for="value">Informatsi : &nbsp;</label>
              <label>Lunas  &nbsp;</label>
                <input type="checkbox" id="active" name="lunas" placeholder="Informatsi" ng-model="currentPaymenttransactions.informatsi">
            </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid">Simpan</button>
           
            <button type="button" class="btn" ng-click="baru()">Batal</button>
        </div>
    </form>
</div>